# JWT
JWT_SECRET=your-jwt-secret-key-here

# Server
BASE_URL=http://localhost:3001
FRONTEND_URL=http://localhost:5173

# Admin Seed Data
ADMIN_EMAIL=admin@hexschool.com
ADMIN_PASSWORD=12345678

# ECPay
ECPAY_MERCHANT_ID=3002607
ECPAY_HASH_KEY=pwFHCqoQZGmho4w6
ECPAY_HASH_IV=EkRm7iFT261dpevs
ECPAY_ENV=staging